@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: "Roboto", "Barlow", system-ui, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white !important;
    color: black !important;
}
.header {
    width: 100%;
    background-color: black !important;
    color: white !important;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1400;
    font-size: 18px;
    text-align: left;
}

.header a {
    color: white!important;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; /* 폰트 적용 */
}
.slider figcaption {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    font-size: 10px;
}

.slider {
    width: 80%;
    margin: 50px auto;
}

.slider .slide-content {
    position: relative;
}

.slider img {
    width: 100%;
    height: auto;
}

.carousel {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-item img {
    width: 100%;
    height: auto;
}
.carousel-caption {
    background: rgba(255, 255, 255, 1.0);
    color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-control {
    background: rgba(255, 255, 255, 1.0);
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.title {
    padding: 64px 0 24px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    color: black !important;
}

.h1_5 {
    font-size: 2.2em;
    font-weight: bold;
    margin: 0;
}

.title h1 {
    font-size: 50px;
    font-family: "Roboto", "Barlow", system-ui, Arial, sans-serif;
    color: black !important;
    font-weight: 650;
    line-height: 1.1em;
    margin: 0 0 0.5rem;
    text-align: center;
}

.authors, .affiliations {
    color: black !important;
}

.authors {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.affiliations {
    margin-bottom: 5px;
    text-align: center;
}

.section-title {
    font-size: 32px;
    font-weight: 600;
    color: #5f27cd;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.section {
    width: 100%;
    line-height: 1.7;
    color: black !important;
}

.section p, .section ol {
    margin-top: 0;  /* 간격 조정 */
}

.paper-btn {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
    font-size: 1.2em;
    background-color: white !important;
    color: black !important;
}

.material-icons {
    vertical-align: middle;
    margin-right: 8px;
}

.center-img {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections-container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}